.parentBox {
  display: flex;
  flex-direction: row;
}

.boxImgForm {
  display: flex;
  flex-direction: column;
  width: 640px;
  padding-top: 84px;
}

.picture {
  border-radius: 14px;
}

.infoBox {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 104px 0 0 72px;
  text-align: left;
}
.headTitle {
  font-weight: 600;
  font-size: 24px;
}

.addressMileBox {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
}

.text {
  font-size: 16px;
}

.svg {
  padding-right: 4px;
}

.address {
  padding-right: 16px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  color: #3470ff;
  padding: 16px 0 32px 0;
}

.title {
  font-weight: 600;
  font-size: 20px;
}

.container {
  padding-top: 88px;
}

.condition {
  padding-top: 16px;
}

.conditionList {
  padding-top: 20px;
}

.svgCircle {
  margin-right: 8px;
}
