.parentBox {
  display: flex;
  flex-direction: row;
}

.boxImgForm {
  display: flex;
  flex-direction: column;
  width: 640px;
  padding-top: 84px;
}

.picture {
  border-radius: 14px;
}

.infoBox {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 104px 0 0 72px;
  text-align: left;
}
.headTitle {
  font-weight: 600;
  font-size: 24px;
}

.addressMileBox {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
}

.text {
  font-size: 16px;
}

.svg {
  padding-right: 4px;
}

.address {
  padding-right: 16px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  color: #3470ff;
  padding: 16px 0 32px 0;
}

.title {
  font-weight: 600;
  font-size: 20px;
}

.container1 {
  padding-top: 68px;
}

.condition {
  padding-top: 16px;
}

.conditionList {
  padding-top: 20px;
}

.svgCircle {
  margin-right: 8px;
}

.container2 {
  padding-top: 110px;
}

.title2 {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 20px;
}
.specBox {
  display: flex;
  flex-direction: row;
  padding-bottom: 16px;
}

.svgSpec {
  margin-right: 8px;
}

.container3 {
  padding-top: 94px;
  padding-bottom: 104px;
}

.bookForm {
  border: 1px solid #dadde1;
  border-radius: 10px;
  margin-top: 40px;
  padding: 32px 32px 32px 32px;
}

.titleForm {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 8px;
  text-align: left;
}

.textForm {
  font-size: 16px;
  color: #8d929a;
  text-align: left;
  padding-bottom: 24px;
}
