.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 48px;
  gap: 32px;
  padding-bottom: 80px;
}

.box {
  display: flex;

  width: calc((100% - 96px) / 4);
}

.infoText {
  color: #3470ff;
}
