.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
}

.box {
  display: flex;
  gap: 32px;
}

.link {
  color: black;
  text-decoration: none;
}

.active {
  color: #0b44cd;
}
